html, body {
	font-family: fontcorpo,euphemia,Courier;
	font-size:14px;
	font-weight: lighter;
	background: #fafafa;
	color: #333;
}
a:link {
	color: #666;
}
a:visited {
	color: #333;
}
.CLSdescrizionepagina{
	opacity: 0.1;
}
.CLScontenitoresfondi {
	background-color: #eee;
}
.CLSmenumouseenter {
	color: #f00;
	background-color: #ccc;
}
.CLSmenuattivo {
	background-color: #aaa;
}
.CLStestata {
	font-size: 2em;
	box-shadow: 0px 1px 5px #aaa;
}
.CLStestataindexiniziale {
	box-shadow: none;
}
.CLSsfondotestata {
	background-color: #fff;
	opacity: 0.9;
}
.CLSsfondotestatacontrasto {
	background-color: #fff;
}
.CLSscrittatestata {
	font-family: fonttitoli,intro,sans-serif;
}
.CLSlinkpulsantemenu {
	font-size: 0.9em;
}
.CLSfootersito {
	color: #333333;
	font-size: 1.5em;
}
.CLSfooteradesso {
	color: #fff;
	border-top: 1px solid #fff;
	font-size: 1.5em;
}
.CLSfooteradessoscuro {
	color: #333;
	border-top: 1px solid #333;
}
.CLSfooterdeb {
	color: #fff;
	border-top: 1px solid #fff;
	font-size: 1.5em;
}
.CLStitolooperasfondo {
	font-size: 1.5em;
}
.CLStitolooperasfondo1 {
	font-size: 2em;
	color: #333333;
}
.CLStitolooperasfondo2 {
	color: #fff;
}
.CLSsfondoarticolo {
	border-top: 1px solid #fff;
}
.CLScontenitorearticolo {
	border-top: 3px solid #aaa;
	background-color: #fff;
}
.CLScontenitoreimmaginenews {
	border-right: 3px solid #fff;
}
article h1 {
	color: #111111;
	font-size: 1.3em;
	font-weight: normal;
	text-decoration: none;
}
article h2 {
	color: #222222;
	font-size: 0.8em;
	font-weight: normal;
}
article h3 {
	background-color: #ddd;
}
.CLScontenitoresezioniampio {
	background-color: #fafafa;
}
.CLSsfondocontenitoresezioni {
	background-color: #fafafa;
	opacity: 0.9;
}
.CLSworkssezionequadrato {
	border: 2px solid #eee;
	background-color: transparent;
}
.CLSworkssezionequadratopieno {	
	background-color: #fff;
}
.CLSworkssezionequadratopienobordo {	
	border: 2px solid #fafafa;
}
.CLSworkslinksezione {
	font-size: 2em;	
}
.CLSfontnewspiccolo {
	font-size: 0.8em;
}
.CLSsezionecorpo {
	font-size: 1.3em;
}
.CLSbioelenco {
	background-color: #fff;
}
.CLSbiosezione {
	text-align: justify;
	font-size: 0.8em;
}
.CLScorpobiosezione {
	background-color: #fff;
}
.CLSesposizionibiosezione {
	background-color: #fff;
}
.CLSpremibiosezione {
	background-color: #fff;
}
.CLSsfondobiomezzo {
	color: #fff;
}
.CLSsezioneinallestimento {
	background-color: #fff;
	text-align: center;
	opacity: 0.9;
}
.CLSsezionecontatti {
	text-align: center;
}
.CLSsfondosezionecontatti {
	background-color: #fff;
	opacity: 0.9;
}
.CLSdescrizioneevento {
	font-size: 0.7em;
}
.CLSdettaglievento {
	font-size: 0.7em;
	background-color: #fafafa;
	text-align: left;
}
.CLScontenitoresezionimouseenter {
	background-color: #fafafa;
}
.CLSsezionedescrizione {
	font-size: 0.8em;
}
.CLSsezionedescrizionesolotesto {
	font-size: 0.8em;
}
.CLScontenitorearticolosezionesolotesto {
	background-color: #f5f5f5;
	box-shadow: 1px 1px 5px #aaa;
}
.CLSslideshowdettagliarticolo {
	background-color: #eee;
}
.CLSslideshowtitolosezione {
	font-size: 2em;
}
.CLSslideshowtitoloarticolo {
	font-size: 1.3em;
}
.CLSslideshowdescrizionearticolo {
	font-size: 0.9em;
}
.CLSsegnapostosfondi {
	border: 2px solid #ddd;
}
.CLSsegnapostosfondiattivo {
	background-color: #ddd;
}
.CLSslideshowfreccia {
	font-size: 3em;
	text-decoration: none;
	background-color: #fff;
	opacity: 0.8;
}
.CLSfrecciamouseenter {
	text-shadow: 2px 2px #aaa;
}
.CLSslideshowtitolosezionemenu {
	background-color: #ddd;
}
.CLSworkssezionemenu {
	font-size: 0.5em;
	text-decoration: none;
}
.CLSworkssezionemenumouseenter {
	background-color: #fafafa;
}
.CLSevidenziafooter {
	background-color: #eee;
}
.CLSlenteingrandimento {
	background-color: #fafafa;
	border: 1px solid #ddd;
}
.CLSevidenziapulsantelente {
	background-color: #eee;
}
.CLSpulsantelenteattivo {
	background-color: #ddd;
}
.CLSpowered {
	color: #000;
	text-height: 25px;
	text-align: left;
}
.CLSpowered  a {
	color: #700;
	text-decoration: none;
}
.CLSevidenziapulsantenow {
	color: #000;
	background-color: #eee;
}
.CLSgalleryparete {
	background-color: #fafafa;
}
.CLSgalleryparete figure {
	box-shadow: -6px 6px 2px -3px rgba(100, 100, 100, 0.1);
	background: rgba(250, 200, 200, 0.1);
	border: 1px solid rgba(250, 200, 200, 0.5);
}
.CLSfootertecnico {
	background-color: #eee;
	text-decoration: none;
	font-size: 0.8em;
	opacity: 0.8;
}
.CLSinfocookies a{
	text-decoration: none;
	color: #000;
}
.CLScontenitoreinfocookies {
	background-color: #fafafa;
}
.CLScorpoinfocookies {
	text-align: justify;
}
.CLSlingua {
	opacity: 0.5;
}
.CLSlinguamedia {
	opacity: 1;
}
.CLSlinguaattiva {
	opacity: 1;
}


@media only screen and (min-width: 768px) {
 
.CLSslideshowfreccia {
	font-size: 5em;
	text-decoration: none;
	background-color: transparent;
	opacity: 1;
}
}
 

@media only screen and (min-width: 1024px){
html, body {
	font-size:18px;
}
.CLSscrittatestatainiziale {
	font-size: 2.5em;
}
.CLScontenitorearticolo {
	border-top: 3px solid #fff;
	background-color: #fff;
}
.CLScorpobiosezione {
	font-size: 0.7em;
}
.CLSesposizionibiosezione {
	font-size: 0.5em;
}
.CLSpremibiosezione {
	font-size: 0.8em;
}
}
